<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.7.1">
  <actions/>
  <description>testnew</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.14.0">
      <projectUrl>https://github.com/esheikha/test/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>env_url</name>
          <description>Please Provide the Evironment Login URL(Defaul is https://mp-dev.kargo.com/login#/)</description>
          <defaultValue>https://mp-dev.kargo.com/login#/</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/KargoGlobal/QAAdvertisersWebAutomation.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>kargo.cp.automation</groupId>
    <artifactId>cpAutomation</artifactId>
  </rootModule>
  <goals>clean test -DbuildName=$BUILD_NUMBER -DmetaData=+Sanity -DWebSiteHost=$env_url</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.40.5">
      <recipientList>esheikha@aspire-infotech.net , ${ghprbActualCommitAuthorEmail} </recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
      </configuredTriggers>
      <contentType>text/plain</contentType>
      <defaultSubject>QA Test Results: New pull request for build number $BUILD_NUMBER to DEV branch - TEST</defaultSubject>
      <defaultContent>- Number of test cases ran: $tc_ran
- Number of test cases passed: $tc_passed
- Number of test cases failed: $tc_failed
- Number of test cases skipped: $tc_skipped</defaultContent>
      <attachmentsPattern>reports/$BUILD_NUMBER/*.html</attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <attachBuildLog>true</attachBuildLog>
      <compressBuildLog>true</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>true</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.xvfb.XvfbBuildWrapper plugin="xvfb@1.0.16">
      <installationName>Default</installationName>
      <screen>1024x768x24</screen>
      <debug>false</debug>
      <timeout>0</timeout>
      <displayNameOffset>1</displayNameOffset>
      <additionalOptions></additionalOptions>
      <shutdownWithBuild>false</shutdownWithBuild>
      <autoDisplayName>false</autoDisplayName>
      <parallelBuild>false</parallelBuild>
    </org.jenkinsci.plugins.xvfb.XvfbBuildWrapper>
    <org.jenkinsci.plugins.ghprb.upstream.GhprbUpstreamStatus plugin="ghprb@1.29.6">
      <commitStatusContext>QA Test Script</commitStatusContext>
      <triggeredStatus>QA Tests Triggered</triggeredStatus>
      <startedStatus>QA Tests in progress</startedStatus>
      <statusUrl>--none--</statusUrl>
      <completedStatus>
        <org.jenkinsci.plugins.ghprb.extensions.comments.GhprbBuildResultMessage>
          <message>$tc_ran tests expected to run,$tc_passed passed,$tc_failed failed,$tc_skipped skipped.</message>
          <result>SUCCESS</result>
        </org.jenkinsci.plugins.ghprb.extensions.comments.GhprbBuildResultMessage>
        <org.jenkinsci.plugins.ghprb.extensions.comments.GhprbBuildResultMessage>
          <message>$tc_ran tests expected to run,$tc_passed passed,$tc_failed failed,$tc_skipped skipped.</message>
          <result>FAILURE</result>
        </org.jenkinsci.plugins.ghprb.extensions.comments.GhprbBuildResultMessage>
      </completedStatus>
    </org.jenkinsci.plugins.ghprb.upstream.GhprbUpstreamStatus>
  </buildWrappers>
  <prebuilders/>
  <postbuilders>
    <EnvInjectBuilder plugin="envinject@1.92.1">
      <info>
        <propertiesFilePath>$WORKSPACE/reports/$BUILD_NUMBER/High_Level_Results.txt</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.Shell>
      <command>#cp reports/$BUILD_NUMBER/*.html reports/$BUILD_NUMBER/Automation_Report_BuildNumber-$BUILD_NUMBER.html</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash


echo &quot;Tests cases failed=&quot;$tc_failed

 if [ $tc_failed -gt 0 ]; then
    exit 1
 fi</command>
    </hudson.tasks.Shell>
  </postbuilders>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>